@page
@model MyStore.Pages.Clients.IndexModel
@{
}

<br />
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm mb-3" href="/Clients/Create/">Add Client</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var client in Model.listClients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.Address</td>
                    <td>@client.Create_At</td>
                    <td>
                        <a 
                            class="btn btn-primary btn-sm"
                            href="/Clients/Edit?id=@client.Id"
                        >Edit</a>
                        <a class="btn btn-danger btn-sm"
                           href="/Clients/Delete?id=@client.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>